<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meizhu.broadcastreceiver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".BroadcastReveiverActivity04">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BroadcastReceiverActivity_notifi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BroadcastReceiver01">
            <intent-filter android:priority="500">
                <action android:name="mybroadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BroadcastReceiver02">
            <intent-filter android:priority="600">
                <action android:name="mybroadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BroadcastReceiver03">
            <intent-filter android:priority="700">
                <action android:name="mybroadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BroadcastReveiver_notifi">
            <intent-filter>
                <action android:name="notification" />
            </intent-filter>
        </receiver>

        <activity android:name=".BroadcastReveiverActivity04">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadcastReceiver04"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>